h1 {
	color: lightskyblue;
	text-align: center;
}

.loginpage {
	margin-top: 80px;
}

.user {
	float: right;
}

#bodyy {
	background-color: tan;
}

.register {
	text-align: center;
}

.panel {
	margin: 0 auto;
	padding: 0 auto;
}

.logout {
	float: right;
}

html, body {
	height: 100%;
}

/*navbar*/
.navbar-toggle {
	float: left;
	margin-left: 15px;
}

.navmenu {
	z-index: 1;
}

.canvas {
	position: relative;
	left: 0;
	z-index: 2;
	min-height: 100%;
	padding: 50px 0 0 0;
	background: #fff;
}

@media (min-width: 0) {
	.navbar-toggle {
		display: block; /* force showing the toggle */
	}
}

@media (min-width: 992px) {
	body {
		padding: 0;
	}
	.navbar {
		right: auto;
		background: none;
		border: none;
	}
	.canvas {
		padding: 0;
	}
}

