
<div ng-controller="LogoutCtrl">
	<input ng-click="logout()" type="button" value="Logout">
</div>


<!-- navbar -->
	<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="#">Project name</a>
      <ul class="nav navmenu-nav">
        <li><a href="../navmenu/">Slide in</a></li>
        <li><a href="../navmenu-push/">Push</a></li>
        <li class="active"><a href="./">Reveal</a></li>
        <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="#/">home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="canvas">
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

<h1>Chat</h1>

      <!-- messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-primary"  ng-controller="ChatCtrl">
              <div class="panel-heading" style="padding:0 0 0 8px;">
                <span class="glyphicon glyphicon-user"></span>
                <h6 class="panel-title" style="display:inline;">Chat</h6>
                <div class="btn-group btn-group-xs pull-right">
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-lock"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" style="padding:0 4px;">
                <div class="row">
                  <div class="col-xs-12" style="max-height:300px;max-width:100%;overflow-y:auto;overflow-x:hidden;">
                    <table class="table table-hover table-condensed" style="">
                      <tr ng-hide="chatMessages.length === 0" ng-repeat="chat in chatMessages | orderBy:origDt | reverse"
                          style="min-width:100%;max-width:100%;width:100%;">
                        <td><img src="{{chat.icon}}" alt="" style="margin-top:8px;"/></td>
                        <td>
                          <h6>{{chat.username}}</h6>
                        </td>
                        <td>
                        <p class="word-wrap:break-word"><small>{{chat.text}}</small></p>
                        </td>
                      </tr>
                      <tr ng-show="chatMessages.length === 0">
                        <td>
                          <p>Nothin' here. <strong>Say something!</strong></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <form>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                      <img src="http://placehold.it/16x16" alt="" />
                    </span>
                    <input type="text" class="form-control" ng-model="newChatMsg" placeholder="..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit" ng-click="addChat()">Send</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-10"></div>
    </div>
  </div>

