<div class="backg2">




<!-- navbar -->
<div class="canvas">
	<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" href="#/classes">Step into My Office</a>

      <ul class="nav navmenu-nav">
        <li><a href="#/classes">Home</a></li>
        <li class="disabled"><a href="#t">Chat</a></li>
        <li><a href="#/classes">Add Classes</a></li>
        <div class="btn-group" uib-dropdown keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
            classes <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">

             <li ng-repeat="classObj in classesList">
              <a ng-href="/#/class/{{classObj.className}}">{{ classObj.className }}</a>
            </li>
        </ul>
    </div>

      </ul>
    </div>

      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      </div>

      <div id="logo2">

  <a href="#/classes"><img src="/images/student.png"></a><h4 id="logotitle">SiMO</h4>

  <div class="user">
  {{user}}
  </div>

  <div id="logoutCl" ng-controller="LogoutCtrl">
  <input ng-click="logout()" type="button" class="btn btn-danger" value="Logout">
  </div>
</div>

<h1>Chat</h1>

      <!-- messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-10">

      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">

            <div class="panel panel-primary"  ng-controller="ChatCtrl">
              <div class="panel-heading" style="padding: 8px;">
                <span class="glyphicon glyphicon-user"></span>
                <h6 class="panel-title" style="display:inline;">S.i.M.O Chat</h6>
                <div class="btn-group btn-group-xs pull-right">
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-lock"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" style="padding:0 4px;">
                <div class="row">
                  <div class="col-xs-12" style="max-height:300px;max-width:100%;overflow-y:auto;overflow-x:hidden;">
                    <table class="table table-hover table-condensed" style="">
                      <tr ng-hide="chatMessages.length === 0" ng-repeat="chat in chatMessages | orderBy:origDt | reverse"
                          style="min-width:100%;max-width:100%;width:100%;">
                        <td><img ng-src="{{chat.icon}}" alt="" style="margin-top:8px;"/></td>
                        <td>
                          <h6>{{chat.username}}</h6>
                        </td>
                        <td>
                        <p class="word-wrap:break-word"><small>{{chat.text}}</small></p>
                        </td>
                      </tr>
                      <tr ng-show="chatMessages.length === 0">
                        <td>
                          <p>No one here yet! <strong>Go find a classmate!</strong></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <form>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                      <img src="http://placehold.it/16x16" alt="" />
                    </span>
                    <input type="text" class="form-control" ng-model="newChatMsg" placeholder="..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit" ng-click="addChat()">Send</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      <!-- </div> -->
      <div class="col-md-10"></div>
    </div> <!-- row ends -->
  </div>
</div>
</div>

