<div class="logout" ng-controller="LogoutCtrl">
	<input ng-click="logout()" type="button" class="btn btn-danger" value="Logout">
</div>

<h1>Welcome to SiMO</h1>

<!-- <div ng-include="'/file_upload/file_upload.html'"> -->

</div>

	<uib-accordion class="accordion" close-others="oneAtATime">
		<uib-accordion-group is-open="status.open">
			<uib-accordion-heading>
			Click to login! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			</uib-accordion-heading>
			<form ng-submit="auth.login()">
				<input type="email" ng-model="auth.user.email" placeholder="email">
				<input type="password" ng-model="auth.user.password" placeholder="password">
				<input type="submit" value="Login">
			</form>
			Hope you didn't forget your password!
		</uib-accordion-group>
	</uib-accordion

	<div ng-controller="CollapseDemoCtrl">
	<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Login</button>
	<hr>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg">
			<form ng-submit="auth.login()">
				<input type="email" ng-model="auth.user.email" placeholder="email">
				<input type="password" ng-model="auth.user.password" placeholder="password">
				<input type="submit" value="Login">
			</form>
			Let's Get Some Work Done Together!
		</div>
	</div>
</div>
