
<div>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Register</h4>
			</div>
			<div class="modal-body">
				   <div class="register-form">
          <h2>Fill out form to Register</h2>
          <p>If you already have an account, sign in <a href="#/">here</a>.</p>
          <form ng-submit="auth.register(auth.user.email, auth.user.password)">
            <div class="form-group">
              <label for="user_email">Email</label>
              <input type="email" id="user_email" ng-model="auth.user.email" class="form-control" placeholder="person@example.com" />
            </div>
            <div class="form-group">
              <label for="user_password">Password</label>
              <input type="password" id="user_password" ng-model="auth.user.password" class="form-control" />
            </div>
            <button class="btn btn-success">Create account</button>
          </form>
        </div>
				</form>
			</div>
