<div class="logout" ng-controller="LogoutCtrl">
	<input ng-click="logout()" type="button" class="btn btn-danger" value="Logout">
</div>

<h1>Share Your Notes With The World</h1>


<div ng-controller="FileUpCtrl as fileUp">
	<h1>{{fileUp.heading}}</h1>
	<form ng-submit="fileUp.submit(upload)">
		<input type="file" accept="image/*" />
		<input type="text" ng-model="upload.comment" />
		<input type="submit" value="Upload Now!" />
	</form>
	{{fileUp.photo.url}}
	<div ng-repeat="photo in fileUp.photos" >
		<img ng-src="{{photo.url}}" /><br/>
		<span>{{photo.comment}}</span>
	</div>
</div>
