    <div class="canvas">
	<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="#/classes">Step into My Office</a>

      <ul class="nav navmenu-nav">
        <li class="disabled"><a href="#">Home</a></li>
        <li><a href="#/chat">Chat</a></li>
        <li class="disabled"><a href="#">Classes</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">My Classes<b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="#/">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      </div>

<div ng-controller="LogoutCtrl">
	<input ng-click="logout()" type="button" value="Logout">
</div>
<h1>hey youre in classes</h1>

		<section ng-controller="TodoCtrl">

			<h1>{{title}}</h1>

			<div>
				<label for="potato">Potato</label>
				<input id="potato" type="text" ng-model="potato">
				<div>{{potato}}</div>

				<label for="filter2">Filter 2</label>
				<input id="filter2" type="text" ng-model="filter2">
				<input type="checkbox" ng-model="variableName">
				<div>{{variableName}}</div>

				<form ng-submit="addTodo()">
					<input type="text" ng-model="newTodo">
					<div class="input-group">
						<input name="taskType" type="radio" value="home" ng-model="taskType">Home
						<input name="taskType" type="radio" value="work" ng-model="taskType">Work
					</div>
					{{homeTask}}
					<button type="submit" class="btn-default">New Todo</button>
				</form>



				<div>
					<label for="type">Task Type</label>
					<select id="type"
						ng-model="selectedTodo"
						ng-options="item.name group by item.type for item in tasks">
					</select>
				</div>

				<div>
					<h2>You have selected {{selectedTodo.name}}</h2>
				</div>

				<div ng-include="'file_upload/file_upload.html'">

				</div>



				<div>
					<ul ng-repeat="var_name in tasks | filter: potato">
						<li>{{var_name.name}} <button ng-click="removeTodo(var_name)">Delete</button></li>
					</ul>
				</div>
			</div>



